In [3]:
import pygor3 as p3
%cd /home/alfaceor/Dropbox/PosDoc/IGoR/dev/MyGithub/pygor3/demo/thi/synthetic_data
db = p3.IgorSqliteDB.create_db("Ajam.db")
mdl = db.get_IgorModel()

/home/alfaceor/Dropbox/PosDoc/IGoR/dev/MyGithub/pygor3/demo/thi/synthetic_data
ErrorRate_record :  ('SingleErrorRate', '0.000396072')
----- Marginals -----
d_3_del
d_5_del
d_gene
dj_dinucl
dj_ins
j_5_del
j_choice
v_3_del
v_choice
vd_dinucl
vd_ins

In [9]:
mdl.Pmarginal['d_gene']#.plot()

<xarray.DataArray (d_gene: 3)>
array([0.561407, 0.236121, 0.202472])
Coordinates:
  * d_gene       (d_gene) int64 0 1 2
    lbl__d_gene  (d_gene) object ' TRBD1*01' ' TRBD2*01' ' TRBD2*02'
    seq__d_gene  (d_gene) object 'GGGACAGGGGGC' ... 'GGGACTAGCGGGAGGG'

In [3]:
# Get the CDR3 length from a bs
seq_index = 0
data = db.get_IgorBestScenarios_By_seq_index(seq_index)
scen = data[0]
#print(scen.to_dict())
dicto = scen.realizations_ids_dict
dicto

{'id_v_choice': 49,
 'id_j_choice': 1,
 'id_d_gene': 0,
 'id_v_3_del': 8,
 'id_d_5_del': 2,
 'id_d_3_del': 11,
 'id_j_5_del': 7,
 'id_vd_ins': 9,
 'vd_dinucl': [2, 2, 0, 0, 2, 2, 2, 0, 1],
 'id_dj_ins': 6,
 'dj_dinucl': [1, 3, 3, 3, 3, 3],
 'mismatches': [],
 'mismatcheslen': 0}

In [8]:
#scen.realizations_ids_dict

In [4]:
# scen.to_dict()
# mdl.get_CDR3_fjrom_scenario(scen)

# rechange dict keys
# for key in mdl.xdata.keys():
#     #dictionary[new_key] = dictionary.pop(old_key)
#     new_key = key
#     old_key = 'id_'+key
    
#     print(key, old_key, new_key)

In [4]:
print(dicto)
for event in mdl.parms.Event_list:
    if (event.event_type == 'DinucMarkov'):
        print(event.nickname, event.event_type)
    else:
        dicto[event.nickname] = dicto.pop('id_'+event.nickname)
print('='*20)
print(dicto)

{'id_v_choice': 49, 'id_j_choice': 1, 'id_d_gene': 0, 'id_v_3_del': 8, 'id_d_5_del': 2, 'id_d_3_del': 11, 'id_j_5_del': 7, 'id_vd_ins': 9, 'vd_dinucl': [2, 2, 0, 0, 2, 2, 2, 0, 1], 'id_dj_ins': 6, 'dj_dinucl': [1, 3, 3, 3, 3, 3], 'mismatches': [], 'mismatcheslen': 0}
vd_dinucl DinucMarkov
dj_dinucl DinucMarkov
====================
{'vd_dinucl': [2, 2, 0, 0, 2, 2, 2, 0, 1], 'dj_dinucl': [1, 3, 3, 3, 3, 3], 'mismatches': [], 'mismatcheslen': 0, 'v_choice': 49, 'd_gene': 0, 'j_choice': 1, 'v_3_del': 8, 'd_3_del': 11, 'd_5_del': 2, 'j_5_del': 7, 'vd_ins': 9, 'dj_ins': 6}

In [5]:
mdl.parms.Event_dict['v_choice'].loc[dicto['v_choice']]

name     U66059|TRBV5-1*01|Homo sapiens|F|V-REGION|1138...
value    AAGGCTGGAGTCACTCAAACTCCAAGATATCTGATCAAAACGAGAG...
Name: 49, dtype: object

In [39]:
mdl.BestScenariosHeaderList

[]

In [24]:
aln_data = db.get_IgorAlignment_data_list_By_seq_index("V", seq_index)
aln_data[0].to_dict()

{'seq_index': 0,
 'gene_id': 49,
 'score': 1405.0,
 'offset': 0,
 'insertions': [],
 'deletions': [],
 'mismatches': [282, 283, 284, 285],
 'length': 282,
 'offset_5_p': 0,
 'offset_3_p': 281,
 'strGene_name': 'U66059|TRBV5-1*01|Homo sapiens|F|V-REGION|113806..114091|286 nt|1| | | | |286+0=286| | |',
 'strGene_class': 'V',
 'strGene_seq': 'aaggctggagtcactcaaactccaagatatctgatcaaaacgagaggacagcaagtgacactgagctgctcccctatctctgggcataggagtgtatcctggtaccaacagaccccaggacagggccttcagttcctctttgaatacttcagtgagacacagagaaacaaaggaaacttccctggtcgattctcagggcgccagttctctaactctcgctctgagatgaatgtgagcaccttggagctgggggactcggccctttatctttgcgccagcagcttgg'}

In [26]:
[(aln.strGene_class, aln.score, aln.strGene_name) for aln in aln_data]

[('V',
  1405.0,
  'U66059|TRBV5-1*01|Homo sapiens|F|V-REGION|113806..114091|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  531.0,
  'X61439|TRBV5-3*01|Homo sapiens|ORF|V-REGION|417..702|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  531.0,
  'AF009660|TRBV5-3*02|Homo sapiens|ORF|V-REGION|44205..44490|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  398.0,
  'L36092|TRBV5-8*01|Homo sapiens|F|V-REGION|355117..355402|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  388.0,
  'L36092|TRBV5-5*01|Homo sapiens|F|V-REGION|297450..297735|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  360.0,
  'L36092|TRBV5-6*01|Homo sapiens|F|V-REGION|314963..315248|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  312.0,
  'L36092|TRBV5-7*01|Homo sapiens|ORF|V-REGION|334981..335266|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  284.0,
  'L36092|TRBV5-4*01|Homo sapiens|F|V-REGION|278005..278290|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  265.0,
  'X57615|TRBV5-4*02|Homo sapiens|(F)|V-REGION|65..346|282 nt|1| | | | |282+0=282| Extended by 4 | |'),
 ('V',
  71.0,
  'U66059|TRBV9*01|Homo sapiens|F|V-REGION|206836..207121|286 nt|1| | | | |286+0=286| | |'),
 ('V',
  60.0,
  'X61447|TRBV6-9*01|Homo sapiens|F|V-REGION|380..666|287 nt|1| | | | |287+0=287| | |'),
 ('V',
  55.0,
  'X61446|TRBV6-1*01|Homo sapiens|F|V-REGION|412..698|287 nt|1| | | | |287+0=287| | |'),
 ('V',
  50.0,
  'L36092|TRBV6-6*01|Homo sapiens|F|V-REGION|284442..284728|287 nt|1| | | | |287+0=287| | |'),
 ('V',
  50.0,
  'AF009662|TRBV6-6*02|Homo sapiens|F|V-REGION|24864..25150|287 nt|1| | | | |287+0=287| | |')]

In [ ]:
aln_data[0]

In [15]:
!head modif_ref_genome/V_gene_CDR3_anchors.csv

gene;anchor_index
TRBV10-1*01;270
TRBV10-1*02;270
TRBV10-1*04;270
TRBV10-2*01;270
TRBV10-3*01;270
TRBV10-3*02;267
TRBV11-1*01;273
TRBV11-2*01;273
TRBV11-2*02;273

In [41]:
import pandas as pd
gene_data = dict()
gene_data["V"] = pd.Dataframe()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [13]:
import pandas as pd

pd.DataFrame.from_records(db.fetch_IgorGeneAnchors_By_Gene("J"), columns=['gene_name', 'anchor_index', 'function'])
# Dont get the anchors sequences

                                            gene_name  anchor_index function
0   K02545|TRBJ1-1*01|Homo sapiens|F|J-REGION|749....            17
1   K02545|TRBJ1-2*01|Homo sapiens|F|J-REGION|886....            17
2   M14158|TRBJ1-3*01|Homo sapiens|F|J-REGION|1499...            19
3   M14158|TRBJ1-4*01|Homo sapiens|F|J-REGION|2095...            20
4   M14158|TRBJ1-5*01|Homo sapiens|F|J-REGION|2368...            19
5   M14158|TRBJ1-6*01|Homo sapiens|F|J-REGION|2859...            22
6   L36092|TRBJ1-6*02|Homo sapiens|F|J-REGION|6430...            22
7   X02987|TRBJ2-1*01|Homo sapiens|F|J-REGION|800....            19
8   X02987|TRBJ2-2*01|Homo sapiens|F|J-REGION|995....            20
9   X02987|TRBJ2-3*01|Homo sapiens|F|J-REGION|1282...            18
10  X02987|TRBJ2-4*01|Homo sapiens|F|J-REGION|1432...            19
11  X02987|TRBJ2-5*01|Homo sapiens|F|J-REGION|1553...            17
12  X02987|TRBJ2-6*01|Homo sapiens|F|J-REGION|1673...            22
13  M14159|TRBJ2-7*01|Homo sapiens|F|J-REGION|2316...            16
14  X02987|TRBJ2-7*02|Homo sapiens|ORF|J-REGION|18...            16

In [ ]:
db.fetch_IgorGeneTemplate_By_gene_name

In [ ]:
db.fetch_IgorGeneTemplate_By_gene_name

In [42]:
import pandas as pd

df = pd.DataFrame([['Julie', 'Sheets were dirty'],
                   ['Samantha', 'Meal arrived cold'],
                   ['Rachel', 'Cocktails were delicious']],
                  columns=['User', 'Review'])

d = {'Keyword': ['Sheets','Cocktails','Meal'],
     'Department' : ['Bedrooms','Restaurant','Restaurant'],
     'Issue Type': ['Beds','Drinks','Food']}

d2 = {key: (dep, iss) for key, dep, iss in \
           zip(d['Keyword'], d['Department'], d['Issue Type'])}

def mapper(x):
    return d2.get(next((i for i in d2 if i in x), None))

df[['Department', 'IssueType']] = df['Review'].apply(mapper).apply(pd.Series)

In [43]:
df

       User                    Review  Department IssueType
0     Julie         Sheets were dirty    Bedrooms      Beds
1  Samantha         Meal arrived cold  Restaurant      Food
2    Rachel  Cocktails were delicious  Restaurant    Drinks

In [44]:
d

{'Keyword': ['Sheets', 'Cocktails', 'Meal'],
 'Department': ['Bedrooms', 'Restaurant', 'Restaurant'],
 'Issue Type': ['Beds', 'Drinks', 'Food']}

In [16]:
sqlselect = """
        SELECT gene.{lower}gene_id, gene.gene_name, gene.sequence, 
                anch.anchor_index, anch.function 
        FROM Igor{upper}GeneTemplate gene 
        LEFT JOIN Igor{upper}GeneCDR3Anchors anch 
        ON gene.{lower}gene_id = anch.{lower}gene_id;
        """
sqlselect.format(upper='X', lower='x')

'\n        SELECT gene.xgene_id, gene.gene_name, gene.sequence, \n                anch.anchor_index, anch.function \n        FROM IgorXGeneTemplate gene \n        LEFT JOIN IgorXGeneCDR3Anchors anch \n        ON gene.xgene_id = anch.xgene_id;\n        '